USE [master]
GO
/****** Object:  Database [AsistenciaBD]    Script Date: 25/01/2025 01:42:56 p. m. ******/
CREATE DATABASE [AsistenciaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AsistenciaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AsistenciaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AsistenciaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AsistenciaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsistenciaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AsistenciaBD]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 25/01/2025 01:42:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asistencia] ON 

INSERT [dbo].[Asistencia] ([Id], [Nombre], [Fecha], [Tipo]) VALUES (16, N'Contador', CAST(N'2025-01-25T11:17:00.000' AS DateTime), N'Entrada')
INSERT [dbo].[Asistencia] ([Id], [Nombre], [Fecha], [Tipo]) VALUES (17, N'Contador', CAST(N'2025-01-25T03:20:00.000' AS DateTime), N'Salida')
SET IDENTITY_INSERT [dbo].[Asistencia] OFF
GO
USE [master]
GO
